<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
  {% include external-head.html %}
</head>

<body class="index">
  {% include external-navigation.html %}

  {{ content }}

  <footer class="global-cta" id="more">
    <div class="row row--collapse">
      <div class="columns large-7 large-offset-1">
        <h1>Start building a happier team</h1>
        <h3 class="subheader show-for-large-up">Oskar is now available on GitHub. </h3>
        <div class="hide-for-large-up">
          <a class="button outline primary" href="https://github.com/wearehanno/oskar">Get started</a>
        </div>
      </div>
      <div class="columns large-3 left text-left">
        <div class="show-for-large-up">
          <a class="button outline primary" href="https://github.com/wearehanno/oskar">Get started</a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
